@import "~styles/colors";


.status-bar {
    height: 32px;
    overflow: hidden;
    border: 1px solid #cacaca;
    position: relative;

    & .mark {
        background-color: #dadada;
        height: 32px;
    }

    & .percent {
        font-weight: bolder;
        position: absolute;
        cursor: default;
        top: -21px;
        width: 100%;
        text-align: center;
        font-size: 24px;

        &-icon {
            position: absolute;
        }
    }
}