<div class="info {{poseScore && poseScore > 0.1 ? 'info__detected' : 'info__no-detection'}}">
    <h2 *ngIf="isOnAir" class="detection-status">
        {{
            poseScore && poseScore > 0.1 ?
                'User detected' :
                'No user detected' 
        }}
    </h2>
    <p class="message">
        {{statusText}}
    </p>
    <p *ngIf="currentExtraWorkTimeCounter < 60000 && currentExtraWorkTimeCounter > 60000" class="extra-time">
        <!-- {{currentExtraWorkTimeCounter}} -->
        No extra time.
    </p>
    <p *ngIf="currentExtraWorkTimeCounter && currentExtraWorkTimeCounter >= 60000" class="extra-time">
        Extra chill time earned: {{currentExtraWorkTimeCounter / 60000 | number:'1.0-0'}}m.
    </p>
    <!-- <p *ngIf="currentExtraWorkTimeCounter > 0 && currentExtraWorkTimeCounter < 60000" class="extra-time">
        less than 1 minute of extra-chill
    </p> -->
    <p *ngIf="currentExtraWorkTimeCounter <= -60000" class="extra-time">
        Extra work time earned: {{(currentExtraWorkTimeCounter / 60000) * -1 | number:'1.0-0'}}m.
    </p>
</div>