@import "~styles/colors";

// @keyframes pulsate {
//     0% {opacity: 1;}
//     100% {opacity: 0;}
// }

.settings {
    // border-radius: 18px;
    // background: $blue;
    // background: $primary-color-dark;
    width: 320px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;

    // & .header {
    //     text-transform: uppercase;
    //     margin: 8px 0;
    //     color: $green;
    // }
    & .icons {
        position: relative;
        display: flex;
        width: 100%;
        // &__check-eye {
        //     position: absolute;
        //     top: 10px;
        //     left: 20px;
        //     width: 18px;
        //     height: 18px;
        //     padding: 1px 2px;
        //     background: $blue2;
        //     color: $white;
        //     border-radius: 50%;
        //     opacity: 1;
        //     & svg.fade-in {
        //         // animation: pulsate 10s linear ;
        //         // animation-iteration-count: 1;
        //     }
        // }

        &__info-icon {
            position: absolute;
            text-align: center;
            // background: $blue2;
            // background: #636363;
            background: #607D8B;
            width: 18px;
            height: 18px;
            border-radius: 9px;
            margin: 0;
            top: 10px;
            left: 20px;
            font-weight: 900;
            cursor: pointer;
            color: $white;
            font-style: italic;
        }
    }
    & .detection-status {
        font-size: 22px;
        text-transform: uppercase;
        margin: 8px 0 8px;
        height: 27px;
        cursor: default;
        &_loading{
            // color: $gray;
            color: #1a1c2c;
        }
        &_detected {
            // color: $green;
            color: #1a1c2c;
        }

        &_no-detection {
            // color: $red;
            color: #1a1c2c;
        }
    }


    & .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $primary-text-color;
        font-size: 18px;

        & .inputs {
            display: flex;
            width: 280px;
            // justify-content: space-between;
            flex-direction: column;
            margin-bottom: 4px;

            &__row {
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;

                & label {

                    display: flex;
                    width: 50%;
                    &:first-of-type {
                        margin-right: 20px;
                    }
                    // padding-left: 8px;
                    // & span {
                        // color: $white;
                        // margin: 0 6px;

                        // margin-left: 8px;
                    // }

                    & input {
                        margin-left: auto;
                        margin-top: 1px;
                        width: 40px;
                        height: 20px;
                        // border-radius: 4px;
                        text-align: center;
                        outline: none;
                        border: none;
                    }
                }
            }
        }

        & .checkbox {
            width: 280px;
            display: flex;
            justify-content: center;
            // justify-content: flex-end;
            margin: 4px 0 16px;
            & input {
                margin-left: 12px;
            }
        }

        & .divider {
            width: 64px;
            height: 1px;
            background: $black;
            // margin-left: 14px;
        }

        & .buttons {
            display: flex;
            justify-content: space-between;
            width: 320px;
            & button {
                width: 150px;
                height: 32px;
                border: none;
                // background: $green;
                // background: $accent-color;
                // border-radius: 4px;
                // margin: 0 10px;
                color: $black;
                // transition: all .2s ease-in-out;
                outline: none;
                // &:first-of-type {
                    // margin-right: 10px;
                // }
                &:hover {
                    // transform: scaleY(1.1);
                    // background: darkgrey;
                    // box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
                    // color: $white;
                    // transform: rotate(360deg);
                    // transform: translateY(-2px);
                    border: 1px solid #cacaca;

                }
            }
        }
    }
}
