@import "~styles/colors";

// @keyframes pulsate {
//     0% {opacity: 1;}
//     100% {opacity: 0;}
// }

.settings {
    border-radius: 18px;
    background: $blue;
    width: 320px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;

    // & .header {
    //     text-transform: uppercase;
    //     margin: 8px 0;
    //     color: $green;
    // }
    & .icons {
        position: relative;
        display: flex;
        width: 100%;
        // &__check-eye {
        //     position: absolute;
        //     top: 10px;
        //     left: 20px;
        //     width: 18px;
        //     height: 18px;
        //     padding: 1px 2px;
        //     background: $blue2;
        //     color: $white;
        //     border-radius: 50%;
        //     opacity: 1;
        //     & svg.fade-in {
        //         // animation: pulsate 10s linear ;
        //         // animation-iteration-count: 1;
        //     }
        // }

        &__info-icon {
            position: absolute;
            text-align: center;
            background: $blue2;
            width: 18px;
            height: 18px;
            border-radius: 9px;
            margin: 0;
            top: 10px;
            right: 20px;
            font-weight: 900;
            cursor: pointer;
            color: $white;
            font-style: italic;
        }
    }
    & .detection-status {
        font-size: 22px;
        text-transform: uppercase;
        margin: 6px 0 4px;
        height: 27px;
        &_loading{
            color: $gray;
        }
        &_detected {
            color: $green;
        }

        &_no-detection {
            color: $red;
        }
    }


    & .form {
        display: flex;
        flex-direction: column;
        align-items: center;

        & .inputs {
            display: flex;
            width: 280px;
            // justify-content: space-between;
            flex-direction: column;
            margin-bottom: 4px;

            &__row {
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;

                & label {

                    display: flex;
                    width: 50%;
                    &:first-of-type {
                        margin-right: 20px;
                    }
                    // padding-left: 8px;
                    & span {
                        font-size: 18px;
                        color: $white;
                        // margin: 0 6px;

                        // margin-left: 8px;
                    }

                    & input {
                        margin-left: auto;
                        margin-top: 1px;
                        width: 40px;
                        height: 20px;
                        border-radius: 4px;
                        text-align: center;
                        outline: none;
                        border: none;
                    }
                }
            }
        }

        & .divider {
            width: 64px;
            height: 1px;
            background: $black;
            // margin-left: 14px;
        }

        & .buttons {
            display: flex;

            & button {
                width: 110px;
                height: 30px;
                border: none;
                background: $green;
                border-radius: 4px;
                margin: 0 10px;
                color: $black;
                transition: all .2s ease-in-out;
                outline: none;

                &:hover {
                    // transform: scale(1.1);
                    // background: $white;
                    // transform: rotate(360deg);
                    transform: translateY(-2px);

                }
            }
        }
    }
}