///*------------------------------------------------------------
//    #COLORS
//-------------------------------------------------------------*/

    $black: #1a1c2c;
    $white: #f4f4f4;
    $gray: #557185;
    $yellow: #ffd079;
    $red: #b14156;
    $blue: #29366f;
    $blue1: #405bd0;
    $blue2: #4fa4f7;
    $blue3: #276e7b;
    $blue5: #93b6c1;
    $blue6: #324056;
    $lightblue: #99ffff;
    $purple: #572956;
    $orange: #ee7b58;
    $green: #38b86e;
    $salat: #a0f072;

