@import '~styles/colors';
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: $black;
    background: $white
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}